# Directories to intentionally exclude from git tracking
.idea
Dataset
!Dataset/ieee37_smooth_ord_60_downsampling_factor_60*
Deprecated_Sources
Models
TensorBoardLogs
Models
Logs
Figures
!Figures/HighLevel.PNG
# Files to intentionally exclude from git tracking
*.pyc
Commands.txt

