# Directories to intentionally  exclude
.idea
Dataset
!Dataset/ieee37_smooth_ord_60_downsampling_factor_60*
Deprecated_Sources
Models
TensorBoard
Models
Logs
Figures
!Figures/HighLevel.PNG
# Files to intentionally exclude from git tracking
*.pyc
Commands.txt

